#!/bin/sh

export HOME=/home/ux453102
export SHELL=/bin/sh
export USER=ux453102
source /etc/bashrc
module add gnu/4.6.1

# outlierRejectedCoadd reference run
# outReferenceRun="s2012outc_sd0205"
outReferenceRun="s2012outc_sd0214"

cd $DEFAULTROOT
pwd

mkdir -p $RUNID
cd $RUNID

mkdir -p logs
mkdir -p forcedPhot

ln -s $DEFAULTROOT/${outReferenceRun}/myCoaddDir myCoaddDir



